body {
    background-color: seashell; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }
  .menu{
    background-color: transparent;
    padding: 10px;
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
}
.menu a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
    margin-right: 15px;
    text-decoration: none;
}

  .section {
    background-color: seashell;  
    padding: 60px 0;
    height: 100%;
    box-sizing: border-box;
  }
  
  .bold-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #222;
    text-align: left;
    margin-left: 50px;
  }
  
  .text-content {
    font-size: 18px;
    color: #444;
    line-height: 1.6;
    padding: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    
  }
  
  #toTopBtn {
    position: fixed;
    bottom: 30px;
    right: 50px;
    display: block;
    z-index: 99;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
}
  .textbox-container {
  border: 2px solid salmon;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 5px;
  margin-bottom: 20px;
  margin-left: 20px; 
}
